.main {
    padding: 44px 58px 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.main__cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-auto-rows: 312px;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-areas: 'divani-kresla divani-kresla divani-kresla divani-kresla divani-kresla kuhnya  kuhnya kuhnya kuhnya'
        'spalnia spalnia spalnia detskaya detskaya detskaya ofis ofis ofis'
    ;

}

.main__card {
    width: 100%;
    height: 100%;
    border-radius: 36px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 32px 20px;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
}

.main__card_divani-kresla {
    background: #BB946B;
    grid-area: divani-kresla;
}

.main__card_kuhnia {
    background: #152449;
    grid-area: kuhnya;
}

.main__card_spalnia {
    background: #B39885;
    grid-area: spalnia;
}

.main__card_detskaya {
    background: #24B7A3;
    grid-area: detskaya;
}

.main__card_ofis {
    background: #0A0A0D;
    grid-area: ofis;
}

.main__card-texts {
    display: flex;
    flex-direction: column;
    max-width: 374px;
    position: relative;
    z-index: 1;

}

.main__card-title {

    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 140%;
    /* or 62px */


    color: #FFFFFF;
    margin: 0;

    white-space: pre-line;
}

.main__card-links {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, auto));
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
    row-gap: 8px;
    column-gap: 8px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;

    margin: 24px 0 0;
    width: 100%;
}

.main__card-link {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 40px;
    padding: 12px 20px;
    box-sizing: border-box;
    width: fit-content;
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #FFFFFF;
    text-decoration: none;
}

.main__card-img {
    position: absolute;
    z-index: 0;
}

.main__card-img_divani-kresla {
    top: 72px;
    left: 480px;
}

.main__card-img_kuhnia {
    top: -4px;
    left: 430px;
}

.main__card-img_spalnia {
    top: 17px;
    left: 364px;
}

.main__card-img_detskaya {
    top: 44px;
    left: 340px;
}

.main__card-img_ofis {
    top: 9px;
    left: 304px;
}

@media (max-width: 1505px) {

    .main {
        padding: 44px 20px 80px;
    }

}


@media (max-width: 1115px) {
    .main__cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
        grid-auto-rows: 312px;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas: 'divani-kresla divani-kresla'
            'kuhnya kuhnya'
            'spalnia detskaya'
            'ofis ofis'
        ;
    }

    .main__card-title {
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 140%;
    }

    .main__card-links {
        margin: 16px 0 0;
    }

    .main__card-link {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        padding: 12px 20px;
    }
}


@media (max-width: 937px) {
    .main__cards {
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
        grid-auto-rows: 312px;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas: 'divani-kresla'
            'kuhnya'
            'spalnia'
            'detskaya'
            'ofis'
        ;
    }
}
